	<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
		<button class="dl-trigger">Open Menu</button>
		<ul class="dl-menu">
			<li>
				<a href="{{ site.url }}/">トップページ</a>
			</li>
			<li>
				<a href="#" class="non-fade">project</a>
				<ul class="dl-submenu">
					<li><a href="{{ site.url }}/pages/projects/">全ての作品</a></li>
					<li><a href="{{ site.url }}/pages/projects/tags/">全てのタグ</a></li>
				</ul>
			</li>
			<li>
				<a href="#" class="non-fade">blog</a>
				<ul class="dl-submenu">
					<li><a href="{{ site.url }}/pages/blogs/">全ての記事</a></li>
					<li><a href="{{ site.url }}/pages/blogs/tags/">全てのタグ</a></li>
				</ul>
			</li>
			<li>
				<a href="#" class="non-fade">tag</a>
				<ul class="dl-submenu">
					<li><a href="{{ site.url }}/pages/tags/">全てのタグ</a></li>
					<li><a href="{{ site.url }}/pages/projects/tags/">全ての作品タグ</a></li>
					<li><a href="{{ site.url }}/pages/blogs/tags/">全ての記事タグ</a></li>
				</ul>
			</li>
			<li>
				<a href="#" class="non-fade">about</a>
				<ul class="dl-submenu">
					<li>
						<img src="{{ site.logo }}" alt="{{ site.title }} photo" class="author-photo">
						<h4>{{ site.title }}</h4>
						<p>{{ site.description }}</p>
					</li>
					<li><a href="{{ site.url }}/pages/about/"><span class="btn btn-inverse">もっと読む</span></a></li>
                    			{% if site.twitter %}<li>
                        			<a href="http://twitter.com/{{ site.twitter }}" rel="noopener noreferrer">Twitter</a>
                    			</li>{% endif %}
                    			{% if site.pixiv %}<li>
                        			<a href="https://pixiv.net/{{ site.pixiv }}" rel="noopener noreferrer">pixiv</a>
                    			</li>{% endif %}
                    			{% if site.GoogologyWiki %}<li>
                        			<a href="https://googology.wikia.org/{{ site.巨大数研究Wiki }}" rel="noopener noreferrer">巨大数Wiki</a>
                    			</li>{% endif %}
				</ul><!-- /.dl-submenu -->
			</li>
		</ul><!-- /.dl-menu -->
	</nav><!-- /.dl-menuwrapper -->
