	<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
		<button class="dl-trigger">Open Menu</button>
		<ul class="dl-menu">
			<li>
				<a href="{{ site.url }}/">トップページ</a>
			</li>
			<li>
				<a href="{{ site.url }}/projects/">作品一覧</a>
			</li>
			<li>
				<a href="#">記事一覧</a>
				<ul class="dl-submenu">
					<li><a href="{{ site.url }}/posts/">全ての記事</a></li>
					<li><a href="{{ site.url }}/tags/">全てのタグ</a></li>
				</ul>
			</li>
			<li>
				<a href="#">自己紹介</a>
				<ul class="dl-submenu">
					<li>
						<img src="{{ site.url }}/{{ site.logo }}" alt="{{ site.title }} photo" class="author-photo">
						<h4>{{ site.title }}</h4>
						<p>{{ site.description }}</p>
					</li>
					<li><a href="{{ site.url }}/about/"><span class="btn btn-inverse">もっと読む</span></a></li>
                    			{% if site.twitter %}<li>
                        			<a href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer">Twitter</a>
                    			</li>{% endif %}
                    			{% if site.pixiv %}<li>
                        			<a href="https://pixiv.net/{{ site.pixiv }}" target="_blank" rel="noopener noreferrer">pixiv</a>
                    			</li>{% endif %}
                    			{% if site.巨大数研究Wiki %}<li>
                        			<a href="https://googology.wikia.org/{{ site.巨大数研究Wiki }}" target="_blank" rel="noopener noreferrer">巨大数Wiki</a>
                    			</li>{% endif %}
				</ul><!-- /.dl-submenu -->
			</li>
		</ul><!-- /.dl-menu -->
	</nav><!-- /.dl-menuwrapper -->
