<hr class="hr-line">
<h3 class="title" style="font-size:15px;">
  {% if site.twitter %}<a class="social-btn" href="http://twitter.com/{{ site.twitter }}" rel="noopener noreferrer">twitter</a>{% endif %}
  {% if site.pixiv %}<a class="social-btn" href="https://pixiv.net/{{ site.pixiv }}" rel="noopener noreferrer">pixiv</a>{% endif %}
  {% if site.GoogologyWiki %}<a class="social-btn" href="https://googology.wikia.org/{{ site.GoogologyWiki }}" rel="noopener noreferrer">巨大数Wiki</a>{% endif %}
  {% if site.yukicoder %}<a class="social-btn" href="https://yukicoder.me/users/{{ site.yukicoder }}" rel="noopener noreferrer">yukicoder</a>{% endif %}
  {% if site.odaibako %}<a class="social-btn" href="https://odaibako.net/u/{{ site.odaibako }}" rel="noopener noreferrer">お題箱</a>{% endif %}
  {% if site.marshmallow %}<a class="social-btn" href="https://marshmallow-qa.com/{{ site.marshmallow }}" rel="noopener noreferrer">マシュマロ</a>{% endif %}
</h3>
