---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <h4>{{ page.date | date: '%Y/%m/%d' }}</h4>
                    {% if site.reading_time %}
                        <p class="reading-time">
                            {% include read-time.html %}
                        </p><!-- /.entry-reading-time -->
                    {% endif %}
                    <span style="padding : 10px">
                        <a class="btn zoombtn" href="{{ site.url }}">
                            トップページ
                        </a>
                    </span>
                    {% if page.prev-child != null %}
                        <span style="padding : 10px">
                            <a class="btn zoombtn" href="{{ site.url }}/{{ page.prev-child }}">
                                前の記事
                            </a>
                        </span>
                    {% endif %}
                    <span style="padding : 10px">
                        <a class="btn zoombtn" href="{{ site.url }}/{{ page.parent }}">
                            親記事
                        </a>
                    </span>
                    {% if page.next-child != null %}
                        <span style="padding : 10px">
                            <a class="btn zoombtn" href="{{ site.url }}/{{ page.next-child }}">
                                次の記事
                            </a>
                        </span>
                    {% endif %}
                </div>
                <div>
                コンテストURL: <a href="https://yukicoder.me/contests/{{ page.num }}">https://yukicoder.me/contests/{{ page.num }}</a>
                
                {{ content }}
                </div>
                <div>
                  {% for post in site.posts %}
                    {% if post.blog-class != null %}{% if post.blog-class == page.subtitle %}
                      <div class="content" id="{{ post.aname }}">
                        <table border="1" rules="none" cellpadding="15">
                          <tr>
                            <th colspan="3" align="center">
                              <h1>{{ post.order }} No.{{ post.num }} {{ post.title }} {{ post.difficulty }}</h1>
                            </th>
                          </tr>
                          <tr>
                            <td>
                              <p>問題リンク：<a href="https://yukicoder.me/problems/no/{{ post.num }}">https://yukicoder.me/problems/no/{{ post.num }}</a></p>
                              <p>tester：{{ post.tester }}</p>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="3">
                              {{ post.content }}
                            </td>
                          </tr>
                        </table>
                      </div>
                    {% endif %}{% endif %}
                  {% endfor %}
                </div>
              
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <span style="padding : 10px">
                        <a class="btn zoombtn" href="{{ site.url }}">
                            トップページ
                        </a>
                    </span>
                    {% if page.prev-child != null %}
                        <span style="padding : 10px">
                            <a class="btn zoombtn" href="{{ site.url }}/{{ page.prev-child }}">
                                前の記事
                            </a>
                        </span>
                    {% endif %}
                    <span style="padding : 10px">
                        <a class="btn zoombtn" href="{{ site.url }}/{{ page.parent }}">
                            親記事
                        </a>
                    </span>
                    {% if page.next-child != null %}
                        <span style="padding : 10px">
                            <a class="btn zoombtn" href="{{ site.url }}/{{ page.next-child }}">
                                次の記事
                            </a>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
</body>
</html>
