---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
	<table><tr><td>
        <div class="container animated fadeIn">
            <div class="row">
                  <a href="{{ site.url }}">
                      <img src="{{ site.logo }}">
                  </a>
                  <h3 class="title">
                      <a class="zoombtn" href="{{ site.url }}">
                        <p style="font-size:1.2rem;font-weight:300">{{ site.title }}</p>
		      </a>
                  </h3>
                  <h3 class="title">
                      <a href="{{ site.url }}">
                          <p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
		      </a>
                  </h3>
                  <h3 class="title">
                      <a class="btn zoombtn" href="{{ site.url }}/pages/projects">
                          作品一覧
                      </a>
                      <a class="btn zoombtn" href="{{ site.url }}/pages/blogs">
                          記事一覧
                      </a>
                      <a class="btn zoombtn" href="{{ site.url }}/pages/tags">
                          タグ一覧
                      </a>
                      <a class="btn zoombtn" href="{{ site.url }}/pages/about">
                          自己紹介
                      </a>
                 </h3>
            </div>
        </div>
	</td></tr>
	<tr><td>
		<br>
	</td></tr>
	<tr><td>
        <div class="container animated fadeIn">
            <div class="row">
		<br>
                <div class="title">
                    <h3>最近の更新</h3>
                </div>
                <hr class="hr-line">
                <div class="post-list">
                    <ul>
			<table>
		            {% assign i = 0 %}
                            {% for post in site.posts %}
                                {% if i < 2 %}
			            <tr>
			            	<td>
				            {{ post.date | date: '%Y/%m/%d' }}
			            	</td>
			            	<td align="center">
				            {% if post.project %}
				                作品
				            {% endif %}
				            {% if post.project-class != null %}
					        {% capture project-file %} /_posts/projects/0000-00-00-{{ post.project-class }}.md {% endcapture %}
						{% for post2 in site.posts %}
						    {% if post2.url == 'project-file' %}
						        {{ post2.class-name }}
						    {% endif %}
						{% endfor &}
					        {{ project-file.class-name }}
				            {% endif %}
				            {% if post.blog %}
					        記事
					    {% endif %}
				        </td>
				        <td align="center">
					    <% if post.project-class == null %}
					        <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
					    {% else %}
					        <a class="zoombtn" href="{{ site.url }}/{{ post.project-class }}/index.html#{{ post.aname }}">{{ post.title }}</a>
					    {% endif %}
				        </td>
				    </tr>
		                    {% assign i = i | plus: 1 %}
                                {% endif %}
                            {% endfor %}
			</table>
                    </ul>
                </div>
	    </div>
        </div>
	</td></tr></table>
    </header>
    {% include scripts.html %}
</body>
</html>
