---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <h4>最終更新日: {{ page.date | date: '%Y/%m/%d' }}</h4>
                    {% if site.reading_time %}
                        <p class="reading-time">
                            {% include read-time.html %}
                        </p><!-- /.entry-reading-time -->
                    {% endif %}
                    <span style="padding : 10px">
                        <a class="btn zoombtn" href="{{site.url}}">
                            トップページ
                        </a>
                    </span>

                    {% if page.parent != null %}
                        {% if page.prev-child != null %}
                            <span style="padding : 10px">
                                <a class="btn zoombtn" href="{{ site.url }}/{{ page.prev-child }}">
                                    前の関連作品
                                </a>
                            </span>
                        {% endif %}
                        <span style="padding : 10px">
                            <a class="btn zoombtn" href="{{ site.url }}/{{ page.parent }}">
                                親作品
                            </a>
                        </span>
                        {% if page.next-child != null %}
                            <span style="padding : 10px">
                                <a class="btn zoombtn" href="{{ site.url }}/{{ page.next-child }}">
                                    次の関連作品
                                </a>
                            </span>
                        {% endif %}
                    {% else %}
                        <span style="padding : 10px">
                            {% if page.project %}
                                <a class="btn zoombtn" href="{{site.url}}/pages/projects/">
                                    作品一覧
                                </a>
                            {% else %}
                                <a class="btn zoombtn" href="{{site.url}}/pages/blogs/">
                                    記事一覧
                                </a>
                            {% endif %}
                        </span>
                    {% endif %}
                </div>
                {{ content }}
            </div>
        </div>
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <!-- markdownの数式 -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    }
    });
    </script>
    {% endif %}
</body>
</html>
